* {
  margin: 0;
  padding: 0;
}

body {
  background: url(../images/background.jpg);
  background-size: cover;
}

#main {
  width: 560px;
  margin: 0 auto;
  padding-top: 150px;
  color: #fff;
  text-align: center;
}
