* {
  margin: 0;
  padding: 0;
}

body {
  color: $white;
  background: $base-color;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $accent-color;
}

.inner {
  width: $inner-width;
  margin: 0 auto;
  padding: $space*2 0;
}

header {
  background: $black;
  padding: $space/2;
  h1 {
    font-size: 1rem;
  }
}

#key-visual {
  background: url(../images/background.jpg);
  background-size: cover;
  padding: $space*2 0;
  text-align: center;
  .text-presents {
    font-size: .8rem;
    margin-bottom: $space;
  }
  h2 {
    font-size: .9rem;
  }
  h3 {
    margin-bottom: $space;
    font-size: 2rem;
  }
  .btn-github {
    @include btn-ghost($main-color);
  }
}

#content {
  section {
    color: $black;
    &:nth-child(even){
      background: darken($base-color, 5%);
    }
    h1 {
      margin-bottom: $space*2;
      color: $main-color;
    }
  }
}

footer {
  background: $black;
  padding: $space/2;
  .copyright {
    text-align: right;
  }
}
